
.bd{
    border: 1px solid black;
    height: 976px;
    width: 950px;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border-style: none; */
}
.pd{
    /* border: 2px solid black; */
    width: 950px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cd1{
    width: 900px;
    height: 120px;
    border: 1px solid black;
}
.black{
    background-color: black;
}
