@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Dancing+Script:wght@400;500&family=Edu+TAS+Beginner&family=Encode+Sans&family=Fira+Code&family=Fuggles&family=Montserrat&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&family=Ubuntu&display=swap');
*{
    font-family: inherit;
}
.h1{
    color: green;
}
#Heading,#lg{
    color: green;
}
.me{
    text-align: center;
    font-family: font-family: 'Dancing Script', cursive;
    font-style: italic;
    color: green;
}
#name{
    font-style: italic;
    text-align: center;
    font-family: 'Fira Code', monospace;
    color: green;
}
#li{
    color: green;
}